.card-content {
  padding: 20px 25px 30px;
  background-color: #131219;
  border-radius: 4px;
  border: 2px solid #17161d;

  transition: all 0.5s;
}

.card-content:hover {
  border-color: rgba(0, 234, 255, 0.8);
  transform: translateY(-15px) translateX(15px);
}

.card-title {
  font-size: 20px;
}

.card-description {
  margin-top: 15px;
  font-size: 16px;
  word-wrap: break-word;
  font-weight: 500;
  line-height: 28px;
  color: #c9c9c9;
}

.description {
  font-size: 16px;
  color: #c9c9c9;
  line-height: 20px;
  max-width: 500px;
  margin: 20px 0 40px;
}