.section {
  padding: 90px 20px 120px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 15px;
  row-gap: 20px;
  padding-top: 70px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  column-gap: 30px;
  row-gap: 20px;
  padding-top: 70px;
}

.introduction{
  display: inline-block;
}

.perfil-image{
  display: inline-block;
  float: right;
  border-radius: 4px;
  border: 2px solid #131219;
  transition: all 0.3s;
}

.perfil-image:hover{
  border: 2px solid rgba(0, 234, 255, 0.8);
  transform: translateY(-15px) translateX(-15px);
}