* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;/* Grossura da linha */
  }
  
  html,
  body,
  a {
    color: #eee;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, /* Define a fonte dependendo do sistema operacional */
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #131219;
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .bg {
    background-color: #131219;
    border-radius: 4px;
  }
  
  .light-bg {
    background-color: #17161d;
  }