.link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #eee;
  padding: 10px 60px;
  background: linear-gradient(
    to bottom,
    rgba(0, 234, 255, 0.8) 0%,
    transparent 100%
  );
  border: 1px solid rgba(0, 234, 255, 0.8);
  border-radius: 4px;

  transition: all 0.3s;
}

.link:hover {
  padding: 8px 90px;
  background: linear-gradient(to bottom, rgba(0, 234, 255, 0.8) 0%, transparent 100%);
}